body{
  background-color: #222222;
  color:#FFF;
}

#imagenfb{
	width: 20px;
		height: 20px;
}
#container{
	text-align: center;
	display: block;
	padding: 5px auto;
	margin: 10px auto;
}
#content div input{
	display: block;
}